/* project */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px 0;
  }

  .project {
    margin: 15px auto 50px auto;
    max-width: 800px;
    width: 100%;
    margin-bottom: 100px;
  }

  .project_image_box {
    margin-bottom: 30px;
    padding: 0 30px;
  }

  .image {
    max-width: 1000px;
    width: 100%;
  }

  .project_description {
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
    display: flex;
  }

  .small_screen_project_description {
    padding: 30px;
  }
}

.left_description {
  text-align: left;
  max-width: 320px;
  margin: 0 40px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .project_name {
    font-size: 27px;
    font-weight: bolder;
    margin-bottom: 15px;
  }

  .project_duration {
    font-weight: 300;
    font-size: 14px;
    margin-top: 14px;
  }

  .project_simple_description {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .project_contribution {
    gap: 10px;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 10px;
  }

  .project_url {
    display: flex;
    gap: 10px;

    > a {
      color: white;
      font-size: 14px;
      margin-bottom: 14px;
      font-weight: 200;
      text-underline-position: under;
    }
  }

  .skills {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-left: -3px;

    > div {
      border: 0.1px solid rgb(29, 28, 28);
      background-color: rgb(29, 28, 28);
      padding: 10px 13px;
      border-radius: 10px;
      font-size: 13px;
      margin-bottom: 3px;

      > p {
        margin: 0 0 2px 0;
        background-color: rgb(29, 28, 28);
        color: white;
      }
    }
  }
}

.right_description {
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 45px 0 0 0;

  .project_main_task {
    font-size: 14.5px;
    font-weight: 300;
    line-height: 20px;
    display: flex;
    gap: 10px;
  }
}

.small_screen_right_description {
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0 0 18px;

  .project_main_task {
    font-size: 14.5px;
    font-weight: 200;
    line-height: 20px;
    display: flex;
    gap: 10px;
  }
}

.buttom_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small_screen_problem_solution {
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  margin-left: 18px;

  .text {
    font-size: 17px;
    margin-top: 20px;
    font-weight: 400;
  }

  .problem {
    font-size: 14.5px;
    line-height: 20px;
    font-weight: 300;
  }

  .solution {
    font-size: 14.5px;
    line-height: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.big_screen_problem_solution {
  margin-top: 30px;
  margin-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .text {
    font-size: 17px;
    margin-top: 20px;
    font-weight: 400;
  }

  .problem {
    font-size: 14.5px;
    line-height: 20px;
    font-weight: 300;
  }

  .solution {
    font-size: 14.5px;
    line-height: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
