/* project */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.project {
  margin: 10px 0;
  margin: 15px auto;
  max-width: 800px;
  width: 100%;
}

.project_image_box {
  border: 1px solid black;
  margin-bottom: 30px;
}

.project_description {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.image {
  max-width: 1000px;
  width: 100%;
}
